/* add_user_flash.css */
.flash-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border: 1px solid #badbcc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .flash-error {
    color: #842029;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  /* Tema dark */
  body.dark-theme {
    background-color: #121212;
    color: #ffffff;
  }
  
  .dark-theme .flash-success {
    color: #198754;
    background-color: #343a40;
    border: 1px solid #198754;
  }
  
  .dark-theme .flash-error {
    color: #dc3545;
    background-color: #343a40;
    border: 1px solid #dc3545;
  }
  