.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa toda a altura da tela */
  background-color: #f8d7da; /* Fundo suave */
  color: #721c24; /* Cor do texto */
  text-align: center;
}

.not-found h1 {
  font-size: 3rem; /* Tamanho grande para o título */
  margin-bottom: 1rem; /* Espaçamento abaixo do título */
}

.not-found p {
  font-size: 1.5rem; /* Tamanho do texto */
  margin: 0; /* Remove margens padrão */
}
